
.main_title {
    font-family: 'Lobster Two', cursive;
}
.navbar-nav-svg{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align:text-top
}

.button_icon{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: text-bottom
}

.input:invalid{
    color: orangered;
}


.password-strength {
    display: flex;
    height: 1rem;
    width: 100%;
    background-color: gainsboro;
}

.strength-block {
    width: 0%;
    height: 100%;
    margin: 0;
    transition: width 500ms;  
    
}

.enable-block {
    width: 20%;
}

.icon_home {
    width:  4.5rem;
    height: 4.5rem;
}

.block-1 {
    
    background: linear-gradient(to right, red, orangered);
}

.block-2 {
    background: linear-gradient(to right, orangered, yellow);
}
.block-3 {
    background: linear-gradient(to right, yellow, yellowgreen);
}
.block-4 {
    background: linear-gradient(to right, yellowgreen, lime);
}
.block-5 {
    border-radius: 0;
    background: linear-gradient(to right, lime, green);
}


.img-preview {
    display: block;
    max-width: auto;
    height: auto;
}

.profile-pic {
    height: 3rem; 
    width: auto;
    border-radius: 50%;
}

.preview-pic {
    height: 7rem;
    width: auto;

}

